<div class="form-container">
    <h2>Dodawanie produktu</h2>
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Enter product name" formControlName="name" />
        <mat-error *ngIf="productForm.get('name')?.invalid && productForm.get('name')?.touched">
          Name is required.
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          placeholder="Enter product description"
          formControlName="description"
          rows="3"
        ></textarea>
        <mat-error *ngIf="productForm.get('description')?.invalid && productForm.get('description')?.touched">
          Description is required.
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Product Type</mat-label>
        <input matInput placeholder="Enter product type" formControlName="productType" />
        <mat-error *ngIf="productForm.get('productType')?.invalid && productForm.get('productType')?.touched">
          Product type is required.
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Product Code</mat-label>
        <input matInput placeholder="Enter product code" formControlName="productCode" />
        <mat-error *ngIf="productForm.get('productCode')?.invalid && productForm.get('productCode')?.touched">
          Product code is required.
        </mat-error>
      </mat-form-field>
  
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="productForm.invalid"
        class="full-width"
      >
        Zapisz
      </button>
      <button
        mat-raised-button
        color="primary"
        type="cancel"
        class="full-width"
        (click)="onCancel()"
      >
        Anuluj
      </button>      
    </form>
  </div>
  