table {
    margin: 0 auto;
}

td, th {
    padding: 8px;
    text-align: center; 
}

body {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0;
}