.product-list-container {
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.product-list-item-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
  