<div class="form-container">
    <h2>Dodawanie klienta</h2>
    <form [formGroup]="clientForm" (ngSubmit)="onAddSubmit()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Firstname</mat-label>
        <input matInput placeholder="Enter client firstname" formControlName="firstName" />
        <mat-error *ngIf="clientForm.get('firstName')?.invalid && clientForm.get('firstName')?.touched">
          Firstname is required.
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Lastname</mat-label>
        <input matInput placeholder="Enter client lastName" formControlName="lastName" />        
        <mat-error *ngIf="clientForm.get('lastName')?.invalid && clientForm.get('lastName')?.touched">
          Lastname is required.
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Client Type</mat-label>
        <mat-select formControlName="clientType">
          <mat-option *ngFor="let type of clientTypes" [value]="type">
            {{ type }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="clientForm.get('clientType')?.invalid && clientForm.get('clientType')?.touched">
          Client type is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Phone number</mat-label>
        <input matInput placeholder="Enter client phoneNumber" formControlName="phoneNumber" />        
      </mat-form-field> 
      
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Address</mat-label>
        <input matInput placeholder="Enter client address" formControlName="address" />        
      </mat-form-field> 
      
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Enter client email" formControlName="email" />        
      </mat-form-field>       
  
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="clientForm.invalid"
        class="full-width">
        Zapisz
      </button>
      <button
        mat-raised-button
        color="warn"
        type="button"
        class="full-width"
        (click)="onAddCancel()">
      Anuluj
    </button> 
    </form>
  </div>
  