<mat-toolbar color="primary">
  <span>Anchor RK</span>
  <span class="spacer"></span>
  <button mat-button *ngIf="isAuthenticated" (click)="logout()">Wyloguj</button>
  <button mat-button *ngIf="!isAuthenticated" routerLink="/login">Logowanie</button>
  <button mat-button *ngIf="!isAuthenticated" routerLink="/register">Rejestracja</button>
</mat-toolbar>

<mat-tab-group
  [selectedIndex]="selectedTabIndex"
  (selectedIndexChange)="onTabChange($event)">
  <mat-tab label="Home"></mat-tab>
  <mat-tab label="Clients"></mat-tab>
  <mat-tab label="Products"></mat-tab>
</mat-tab-group>

<router-outlet></router-outlet>


